.array-container{
    position: relative;
    top: 115px;
    
    /* padding-top: 100, */
}

.array-bar {
    display: inline-block;
    margin: 0 1px;
}

.menu-items{
    position: relative;
    top: 115px;
}
