/* main {
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expandedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .expandedList {
    list-style-type: none;
    display: grid;
    grid-template-columns: 6rem 10rem 4rem 8rem 6rem 10rem 4rem;
    grid-gap: 0.5rem;
    position: relative;
    padding: 0;
    margin: 0;
  } */

  .header-title {
    color: 'white'
  }